<div class="container">
  <div id="bodyHolder">
    <div class="bulbHolder">
      <img src="https://www.w3schools.com/js/pic_bulboff.gif" alt="light" id="myBulb" onclick="lightBulb()" />
    </div>
    <br>
    <h4 class="text-center">Got any ideas?</h4>
  </div>
</div>

<style>
  #bodyHolder{
    padding-top: 5em;
  }

  .bulbHolder {
    text-align: center;
  }
</style>

<script>
  function lightBulb() {
    var image = document.getElementById('myBulb');
    if (image.src.match("https://www.w3schools.com/js/pic_bulbon.gif")) {
      image.src = "https://www.w3schools.com/js/pic_bulboff.gif";
    } else {
      image.src = "https://www.w3schools.com/js/pic_bulbon.gif";
    }
  }
</script>
